h1 {color: blue;
}
body { padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}
.jumbotron {padding-left: 80px;}
.dropdown:hover .dropdown-content {
display: block;
}