h1 {font-family:'Lato', sans-serif;
color: #33cccc;
}
/* whole body */
body { 
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;}

    /* headerbar */
    .jumbotron {
        padding-left: 80px;
        position: relative;
        z-index: 10;}

        .a:focus, a:hover {
            color: #33cccc;
            text-decoration: none;
        }
        /* Dropdown Button */
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropbtn {
            background-color: #f2f2f2;
            color: #33cccc;
            padding: 12px;
            font-size: 18px;
            font-family: 'Lato';
            font-weight: 300;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
           font-weight: bold;
           background-color: white;
       }
       .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color: #3699ae;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }

    .dropdown-content a:hover {background-color: #3699ae; color: white;}

    .show {display:block;}

    /*About us and Contact */

    .jumbotron {
       background-color: #f2f2f2;
       height: 10px;
   }

   ul {
       color: black;
       list-style: none;
   }

   .intro {
    text-align: right;
    color:#3699ae;
    z-index: 1000;
    font-size: 20px;
    position: relative;
    margin-right: 20px;
    font-family: 'Dosis', sans-serif;
    =======
    /*Footer*/

    .footer {
        background: #f2f2f2;
    }
    .socialmedia {
        position: absolute;;
        bottom: 0;
        right: 0;
        padding-bottom: 30px;
        padding-right: 30px;
    }

    <<<<<<< HEAD
    .pic {
        z-index: 500;
        position: relative;
        margin-left: 10px;
    }
    .orange {
        color: #ff6600
    }
    =======
    /*map*/
    #map {
        width: 500px;
        height: 400px;
        }  background-color: #CCC;
        >>>>>>> origin/gh-pages
